<div role="navigation">
  <div class="govuk-width-container">
    <p>
      <% content_for(:back_button) do %>
        <%= back_link %>
      <% end %>
    </p>
  </div>
</div>

<%= form_for @placement_need, url: child_placement_needs_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_date_field :placement_date,
      legend: { text: "When does #{Child.find(params[:child_id]).full_name} need a new foster home?"},
      hint: { text: "For example, 31 3 2014"} %>

  <%= f.govuk_radio_buttons_fieldset(:criteria, legend: {
    text: "What type of placement does #{Child.find(params[:child_id]).full_name} need?"
    }) do %>

    <% PlacementNeed::OPTIONS.each do |option| %>
      <%= f.govuk_radio_button :criteria, option,  label: { text: option.titleize } %>
    <% end%>

    <%= f.govuk_text_field :postcode,
      width: 20,
      label: { text: "Postcode" },
      hint: { text: "For example, PE1 4DB" }
    %>

    <%= f.govuk_number_field :location_radius_miles,
      width: 5,
      label: { text: "Search Radius (miles)" },
      min: 1,
      max: 50
    %>

  <% end%>
  <%= f.govuk_submit %>
<% end %>


