<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Foster families</h1>
    <h2 class="govuk-heading-m">For <%= @child.full_name %></h2>
  </div>
</div>

<% if @placed %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p><%= @child.full_name %> is currently placed.</p>
    </div>
  </div>
<% elsif @available_foster_parents.empty? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p>There are currently no available foster families.</p>
    </div>
  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p><%= @available_foster_parents.count %> available families found:</p>
    </div>
  </div>

  <% @available_foster_parents.each do |foster_parent| %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" id="foster_parent_<%= foster_parent.id %>">
        <h2 class="govuk-heading-m"><%= foster_parent.full_name %></h2>
        <%= govuk_button_to("Place", placements_path, params: { placement: { foster_parent_id: foster_parent.id, child_id: @child.id } }) %>
      </div>
    </div>
  <% end %>
<% end %>
